.controls {

	.product_slider & {
		z-index: 10;
		position: absolute;
		bottom: 1.6rem;
		right: 1.6rem;

		display: grid;
		grid-template-columns: auto auto;
		gap: 1.2rem;

		@include bp($tablet) {
			display: none;
		}
	}

	.product_thumb & {
		@include bp($tablet) {
			display: none;
		}
	}

	.product_options_custom & {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.controls__btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 4.4rem;
	height: 4.4rem;

	cursor: pointer;
	border-radius: $glRadius;
	color: $black;
	background-color: $gray_30;

	transition:
		background-color 0.3s ease,
		color 0.3s ease;

	&.controls__btn--prev {
		.product_thumb & {
			left: 0;
		}
	}

	&.controls__btn--next {
		.product_thumb & {
			right: 0;
		}
	}

	.product_thumb & {
		z-index: 10;
		position: absolute;
		top: 0;

		width: 3.2rem;
		height: 100%;
	}

	&:hover {
		background-color: $azure;
		color: $white;
	}
}

.controls__icon {
	display: block;
	width: 1.6rem;
	height: 1.6rem;

	color: inherit;
}
