.product_options {
	&:not(:last-child) {
		@include bp($tablet, min) {
			margin-bottom: 3rem;
		}

		@include bp($tablet - 1) {
			margin-bottom: 2.9rem;
		}
	}
}

.product_options__head {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	padding-right: 2.5rem;

	&:not(:last-child) {
		margin-bottom: 0.9rem;
	}

	.product_options--desktop_disable_mod & {
		@include bp($tablet, min) {
			display: none;
		}
	}
}

.product_options__title {
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1;
	letter-spacing: 0.055em;

	color: $cyan_900;
}

.product_options__list {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	max-width: 30rem;

	& + .product_options_custom {
		margin-top: 1.2rem;
	}

	@include bp($tablet, min) {
		margin: 0 -1.2rem -1.2rem 0;
	}

	@include bp($tablet - 1) {
		margin: 0 -1.6rem -1.6rem 0;
	}
}

.product_options__item {
	width: 20%;

	&.product_options__item--custom_mod {
		width: 40%;
	}

	@include bp($tablet, min) {
		padding: 0 1.2rem 1.2rem 0;
	}

	@include bp($tablet - 1) {
		padding: 0 1.6rem 1.6rem 0;
	}
}

.product_options__btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;

	background-color: $gray_10;
	color: $cyan_900;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	overflow: hidden;

	&:focus,
	&:hover {
		background-color: $azure;
		color: $white;
	}

	&.active {
		background-color: $dark_azure;
		color: $white;
	}

	@include bp($tablet, min) {
		padding: 0.9rem 0.8rem;
		border-radius: 0.4rem;
	}

	@include bp($tablet - 1) {
		padding: 1.5rem 0.8rem;
		border-radius: $glRadius;
	}
}
