.product_options_custom {
	&.hidden {
		display: none;
	}
}

.product_options_custom__view {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 1rem 2.4rem;
	height: 4.4rem;

	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1;

	color: $gray_0;
	background-color: $gray_30;

	border: 1px solid #d6dcdd;
	border-radius: $glRadius;

	@include bp($tabletMd, min) {
		margin: 0 0.8rem;
	}

	@include bp($tabletMd) {
		flex: auto;
		margin: 0 2rem;
	}
}


